
<%- include('header') %>
    <div class="container">
        <h1>Sửa sản phẩm</h1>
    <form action="/edit-product/<%= product.id %>" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Name:</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= product.name %>">
        </div>
        <div>
            <label for="price">Price:</label>
            <input class="form-control" type="number" id="price" name="price" value="<%= product.price %>">
        </div>
        <div>
            <label for="sale_price">Sale Price:</label>
            <input class="form-control" type="number" id="sale_price" name="sale_price" value="<%= product.sale_price %>">
        </div>
        <div>
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category_id">
                <% cats.forEach(function(cat) { %>
                    <option value="<%= cat.id %>" <%= product.category_id == cat.id ? 'selected' : '' %>><%= cat.name %></option>
                <% }); %>
            </select>
        </div>
        <div>
            <label for="image">Image:</label>
            <input class="form-control" type="file" id="image" name="image">
            <% if (product.image) { %>
                <img src="/images/<%= product.image %>" alt="<%= product.image %>" width="100">
            <% } %>
        </div>
        <div class="form-group">
            <label for="">Chi tiết sản phẩm</label>
            <textarea name="description" id="content"class="form-control" value="<%= product.description %>" ></textarea>
        </div>
        <div class="form-group">
            <label> Status</label>
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="1" <%= product.status
                        ==
                        1 ? 'checked' : '' %> >
                    Hiển thị
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="status" value="0" <%= product.status
                        ==
                        0 ? 'checked' : '' %>>
                    Tạm ẩn
                </label>
            </div>
        </div>
        <button type="submit">Sửa</button>
    </form>
    
       
        
    </div>
    
<%- include('footer') %>